@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

header {
    background: #005773;
    min-height: 175px;
    width: 100%;
    margin: 0;
    padding-top: 1px;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 40px; 
    font-weight: bold; 
    letter-spacing: 0.18em; 
    margin-top: 20px
}

body {
    font-family: 'Istok Web', sans-serif;
    margin: 0;
}

main {
    background-color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.navigation li {
    float: left;
}

.navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold; 
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    color: white;
}

.page_title {
    font-size: 48px; 
    font-weight: bold; 
    display: flex;
    justify-content: center;
}

main section {
    margin: auto;
}

main section h3 {
    font-size: 32px; 
    font-weight: bold; 
    text-align: center;
}

#introduction {
    margin-top: 33px;
    width: 100%;
    font-size: 22px;
    max-width: 1200px;
}

#why_justbooks {
    margin-top: 33px;
    max-width: 1200px;
}

.why_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

.why_section .image-column {
    padding-left: 20px;
}

.why_section2 .text-column {
    padding-left: 20px;
}


.why_section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

.text-column {
    width: 75%;
    height: 208;
    font-size: 18px;
}

.image-column {
    display: flex;
    align-items: center; 
}

.image-column img {
    border-radius: 18px;
    width: 409px;
    height: 213px;
}

#start_adventure {
    margin: auto;
    margin-top: 33px;
    max-width: 1200px;
}

#start_adventure ol {
    font-size: 22px;
    text-align: left;
}

#contact_us {
    padding-top: 1px;
    padding-bottom: 50px;
    margin-top: 33px;
    background-color: #005773;
    /* height: 550px; */
    width: 100%;
    
}

#contact_us form{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 40%;

}

#contact_us form input {
    margin: auto;
    width: 99%;
    margin-top: 17px; 
    height: 55px;
    font-size: 24px;
    border-color: black;
}

#contact_us form textarea {
    margin: auto;
    margin-top: 17px; 
    width: 99%;
    height: 170px;
    font-size: 24px;
    border-color: black;
    resize: none;
}

#contact_us form button[type="submit"] {
    margin-top: 17px; 
    width: 150px;
    height: 50px;
    font-size: 24px;
    background-color: #62A4E0;
    border-color: black;
    border-radius: 10px;
}

#contact_us form button:hover {
    background-color: #8DBBE6;
}

footer {
    padding-top: 1px;
    background-color: #005773;
    height: 185px;
    margin: auto;
    text-align: center;
}

h1 + h4{
    color:white;
}

#subscriptions {
    margin: auto;
}

#subscriptions > table {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

#subscriptions table tr th {
    margin: auto;
    width: 25%;
    height: 50px;
    background-color: #005773;
}

table tr:first-child th:first-child {
    border-top-left-radius: 18px;
}

  
table tr:first-child th:last-child {
    border-top-right-radius: 18px;
}

#subscriptions table tr td {
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: #62A4E0;
}

